@media screen and (max-width: 576px) {
    header {
    background: url(../images/header_bg.png), #fff8f3;
    background-repeat: no-repeat;
    background-position: bottom right;
}
    .container {
        width: 95%; 
    }
    nav .menu {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
    }
    #banner {
        margin: 20px;
        gap: 20px;
        text-align: center;
    }
    #banner .banner-image img {
        width: 100%;
    }
    #banner .banner-content button {
       margin: 8px;
    }
    #banner .banner-content h1 {
        font-size: 44px;
    }
    #skills .skills-container,
    #about .about-container,
    #resume .resume-container {
        width: 90%; 
    }
    .section-heading h2 {
        font-size: 30px;
        margin-bottom: 28px;
    }
   #about, 
   #skills, 
   #resume {
        padding-top: 60px;
    }
    #about .about-container {
        padding: 20px; 
    }
    #banner,
    nav,
    #skills .skills-container .skills-info,
    #about .about-container .about-info,
    #resume .resume-container {
        flex-direction: column;
    }
    .about-info{
        gap: 20px;
        margin-top: 60px;
    }
    #resume .resume-container {
      margin: 70px auto;
    }
    .resume-card {
        margin-right: 10px;
    }
    .skills-info .skills-card {
        max-width: 100%;
    }
    footer .footer-container {
        flex-direction: column;
        gap: 40px;
    }
    form input[type="text"], form textarea {
    width: 100%;
    padding: 16px 28px;
    }
}